# Pandas

In [3]:
import pandas as pd

table = pd.read_excel("Produtos.xlsx")
display(table)

,Produtos,Preço Base Original,Tipo,Multiplicador Imposto,Preço Base Reais
0,Tablet,999.99,Produto,1.1,1099.989
1,Pós Graduação,4500.00,Serviço,1.3,5850.000
2,Celular,899.99,Produto,1.1,989.989
3,Passagem Aérea,799.00,Serviço,1.3,1038.700
4,Computador,3000.00,Produto,1.1,3300.000
5,SPA,480.48,Serviço,1.3,624.624
6,Corte Cabelo,50.00,Serviço,1.3,65.000

# Update the multiplier

In [7]:
table.loc[table["Tipo"] == "Serviços", "Multiplicador Imposto"] = 1.5

table ["Preço Base Reais"] = table["Multiplicador Imposto"] * table["Preço Base Original"]
table.to_excel("ProdutosUpadate.xlsx")